<div class="header">
  <a class="logo" routerLink="/home">Mappls</a>

  <div class="search-bar">
    <input type="text" #searchValue placeholder="Search products..." (keyup.enter)="search(searchValue.value)" />
    <button (click)="search(searchValue.value)">Search</button>
  </div>

  <nav>
    <a routerLink="/home" routerLinkActive="active">Products</a>
    <a routerLink="/cart" routerLinkActive="active" class="cart-link">
      Cart
      @if (cartStore.cartCount() > 0) {
      <span class="cart-badge">{{ cartStore.cartCount() }}</span>
      }
    </a>
  </nav>
</div>